* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* background:#FAFAFA; */
}

.container {
    /* font-family: "Montserrat", sans-serif; */
    height: auto;
    width: 1440px;
    margin: 0 auto;
    background: #FAFAFA;
    padding-bottom: 80px;
}

.container-image img {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container-data {
    position: absolute;
    top: 0px;
    width: 1440px;
}

.container-data .navbar {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 36px;
}

.container-data .navbar h2 {
    padding-left: 190px;
    padding-right: 90px;
    font-size: 24px;
    font-weight: 700;
}

.container-data .navbar ul {
    display: flex;
    list-style: none;
    gap: 21px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.container-data .navbar ul li:hover {

    background: blue;
    color: white;
    border-radius: 4px;
}

.container-data .navbar img {
    padding-left: 625px;
    cursor: pointer;
}

.poster {
    padding-left: 225px;
    padding-top: 80px;
    display: flex;
    gap: 120px;
}

.poster .left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 510px;
}

.poster .left h1 {
    font-size: 58px;
    font-weight: 800;
}

.poster .left p {
    color: #737373;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding-right: 60px;
}

.poster .left .buttons {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.primary {
    background: #FFA62B;
    border: 1px solid #FFA62B;
    color: #FFF;
    padding: 10px 36px;
    border-radius: 37px;
}

.primary:hover {
    background: #F78F00;
    cursor: pointer;
}

.secondary {
    border: 1px solid #00A0C1;
    padding: 10px 36px;
    border-radius: 37px;
}

.secondary:hover {
    background: #0092B0;
    cursor: pointer;
    color: white;
}

.cards {
    display: flex;
    gap: 30px;
    margin: 30px auto;
    padding: 80px 200px;
}

.cards .card {
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.2);
    width: 328px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.cards .card img {
    width: 48px;
    height: 40.709px;
}

.cards .card.card-3 {
    background: #00A0C1;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.card h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.cards .card.card-1:hover {
    background: #E6E6E6;
}

.cards .card.card-2:hover {
    background: #E6E6E6;
}

.cards .card.card-3:hover {
    background: #00849F;
}

.card p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.middle {
    background: #FAFAFA;
    width: 1440px;
    margin: 0 auto;
}

.middle .features-1 {
    padding: 80px 195px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.middle .features-1 .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle .features-1 .top h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #252B42;
}

.middle .features-1 .top p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.middle .features-1 .bottom .records {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.records .record {
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    width: 230px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: cente;
    align-items: center;
}

.records .record img {
    width: 48px;
}

.records span {
    font-size: 40px;
    display: block;
    font-weight: 700;
}

.records p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
    text-align: center;
}

.middle .features-2 {
    text-align: center;
    padding: 80px 195px;
    margin: 0 auto;
}

.middle .features-2 .top {
    padding: 45px 0px;
}

.middle .features-2 .top h2 {
    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.middle .features-2 .top p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.middle .features-2 .bottom {

    display: flex;
    gap: 30px;
}

.middle .features-2 .bottom .box {
    width: 240px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.middle .features-2 .bottom .box h4 {
    color: var(--text-color, #252B42);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.middle .features-2 .bottom .box p {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.middle .features-3 {
    text-align: center;
    padding: 100px 195px;
    margin: 0 auto;
    background: #FFF;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.middle .features-3 h1 {
    color: #252B42;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.middle .features-3 p {
    color: #737373;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 15px;
}

.middle .features-3 .bottom {
    display: flex;
    gap: 120px;
}

.middle .features-3 .bottom .bottom-image {
    position: relative;
}

.middle .features-3 .bottom .filter {
    position: absolute;
}

.middle .features-3 .bottom .play-btn {
    position: absolute;
    padding: 169px 250px;
}

.middle .features-3 .bottom .play-btn .play {
    background: #00A0C1;
    border-radius: 100%;
    padding: 35px 37px;
}

.middle .features-3 .bottom .bottom-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.bottom-text .bottom-text-1 h2 {
    color: #252B42;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: justify;
}

.bottom-text .bottom-text-1 p {
    text-align: justify;
}

.bottom-text .bottom-text-2 {
    display: flex;
    gap: 20px;
}

.bottom-text .bottom-text-2 h4 {
    margin-bottom: 5px;
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.bottom-text .bottom-text-2 p {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.bottom-text .bottom-text-3 {
    display: flex;
    gap: 20px;
}

.bottom-text .bottom-text-3 h4 {
    margin-bottom: 5px;
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.bottom-text .bottom-text-3 p {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
}

.lower-section {
    height: auto;
    width: 1440px;
    margin: 0 auto;
    background: #FAFAFA;
    padding: 50px;
}

.company{
    width: 1050px;
    margin: 0 auto;
}

.company ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.company ul>li {
    padding-top: 20px;
}

.gap {
    width: 1440px;
    height: 77px;
    margin: 0 auto;
    background: #252B42;
}

.contact {
    width: 1440px;
    margin: 0 auto;
    background: #FAFAFA;
    padding: 0px 195px 68px 195px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.contact .top {
    margin: 0 auto;
    text-align: center;
}

.contact .top h1 {
    margin-top: 80px;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.contact .top p {
    color: #737373;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.contact .bottom-cards {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.contact .bottom-cards .first {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #FFFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
}



.contact .bottom-cards img {
    width: 72px;
    height: 72px;
    margin: 0 auto;
}

.contact .bottom-cards .second {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #252B42;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
}


.contact .bottom-cards p {
    color: #252B42;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.contact .bottom-cards .special {

    padding: 80px 40px;
}

.contact .bottom-cards .special p {
    color: #FFF;
}

.contact .bottom-cards button {
    padding: 10px 20px;

}

.contact .bottom-cards .btn-1 {
    border: 1px solid #FFA62B;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #FFA62B;
    color: #FFA62B;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.contact .bottom-cards .btn-1:hover {
    background: #252B42;
}

.contact .bottom-cards .btn-2 {
    background: #252B42;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.contact .bottom-cards .btn-2:hover {
    background: #FFF;
    color: #FFA62B;
}

.gap-1 {
    height: 142px;
    background: #FFF;
}

.footer {
    width: 1440px;
    margin: 0 auto;
    background: #16697A;
    padding: 50px 195px;
    display: flex;
    gap: 30px;
    color: #FFF;
    justify-content: space-between;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding-bottom: 20px;
}

.footer img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.footer p {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.footer .link-5 .special .special-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer .link-5 .special .special-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer .link-5 .special .special-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.copyright {
    width: 1440px;
    margin: 0 auto;
    background: #FFF;
    padding: 25px 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.copyright ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
